* {
    gap: 10px;
}


html {
    height: 100vh;
}


body {
    position: relative;
    height: 100%;
    margin: 0;
}

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.content-overlay {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#server_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


input[name='version'] {
    width: 5em;
}


#progress_bar {
    width: 0;
    height: 20px;
    background-color: green;
}


#progress_container {
    width: 100%;
    border: 1px solid #ccc;
    height: 20px;
}


.badges {
    position: fixed;
    bottom: 1%;
    display: flex;
    flex-direction: row;
    align-items: center; 
	justify-content: center; 
    margin: 10px; 
	gap: 10px;
}

.badges img {
    height: 20px;
}
